<img src="myBackground.jpg.png">
#nav-th {width:200px;text-align:center;}
#nav-bar {width:800px}
#welcome-paragraph {margin:bottom}
#pic2 {float: right;
  margin-right:6px;}
#floating-pics {float:right;
  padding:10px}
